---
---

@import "{{ site.theme }}";

/* ===========================
   Leap Day Menü Scroll Fix
   =========================== */

nav {
  max-height: calc(100vh - 250px) !important;
  overflow-y: auto !important;
  width: 230px !important; /* Varsayılan nav genişliğini korur */
  -webkit-overflow-scrolling: touch;
}
